<div class="container-big-card">
  <div class="photo-big-card">
    <img src="/assets/place.png"
     alt=""
     height="200px"
     width="395px"
     srcset="">
  </div>
  <div class="title-big-card">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="description-big-card">
    <p><a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec ultricies dignissim mauris nec
       porttitor. Nulla vel dui in est iaculis
       consectetur. Ut mollis scelerisque risus
       non suscipit. Integer et venenatis metus,
       sit amet auctor leo. Aenean feugiat dui quis
       nulla sollicitudin, a facilisis enim volutpat.
       In ut mi urna. Suspendisse convallis ullamcorper
        enim posuere aliquam. Fusce in lacus diam.
      </a>
    </p>
  </div>
</div>
