<header>
  <app-menu-bar></app-menu-bar>
</header>



<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles_main">
    <app-big-card photoCover="/assets/place.png"
    cardTitle="HOMEM DE FERRO EM 3D"
    cardDescription="marvel anuncia novo homem de ferro"
    >

    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card cardTitle="Nova serie disney plus anunciada" photoCover="assets/place.png">

    </app-small-card>
    <app-small-card cardTitle="Pantera negra" photoCover="assets/place.png">

    </app-small-card>
    <app-small-card cardTitle="Capitão America" photoCover="assets/place.png">

    </app-small-card>
  </div>
</div>
