<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles_main">

    <app-big-card
    id="1"
    photoCover="assets/ultimato.png"
    cardTitle="RBS TV exibe Vingadores: Ultimato neste fim de semana"
    cardDescription="Maior sucesso de bilheteria da Marvel vai ao ar às 14h30min de domingo (24)"
    >

    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card id = "2" cardTitle="RBS TV exibe um baita filme do Homem-Aranha" photoCover="assets/homemAranha.png">

    </app-small-card>
    <app-small-card id = "3" cardTitle="Ranking Marvel: todos os 33 filmes, do pior ao melhor" photoCover="assets/marvel.png">

    </app-small-card>
    <app-small-card id = "4" cardTitle="Madame Teia, spin-off de Homem-Aranha, ganha primeiro trailer" photoCover="assets/madameTeia.png">

    </app-small-card>
  </div>
</div>
